/output
/intermediates
/Makefile
/ipch/libpicto-9882537c/libpicto_debug-51e141a8.ipch
/ipch/pictodirector-ee32aa14/pictodirector_debug-ba2333e0.ipch
/picto.opensdf
/picto.sdf
/picto.sln
/picto.suo
/source/common/Makefile
/source/common/Makefile.Debug
/source/common/Makefile.Release
/source/common/libPicto.vcxproj
/source/common/libPicto.vcxproj.filters
/source/common/libPicto.vcxproj.user
/source/common/translations/common_ko.qm
/source/config/Makefile
/source/config/Makefile.Debug
/source/config/Makefile.Release
/source/config/PictoConfig.vcxproj
/source/config/PictoConfig.vcxproj.filters
/source/config/PictoConfig.vcxproj.user
/source/director/Makefile
/source/director/Makefile.Debug
/source/director/Makefile.Release
/source/director/PictoDirector.vcxproj
/source/director/PictoDirector.vcxproj.filters
/source/director/PictoDirector.vcxproj.user
/source/documentation/developersguide/Makefile
/source/documentation/developersguide/Makefile.Debug
/source/documentation/developersguide/Makefile.Release
/source/documentation/developersguide/PictoDevelopersGuide.vcxproj
/source/documentation/developersguide/PictoDevelopersGuide.vcxproj.filters
/source/documentation/developersguide/PictoDevelopersGuide.vcxproj.user
/source/embedded/Makefile
/source/embedded/blankscreen/BlankScreen.vcxproj
/source/embedded/blankscreen/BlankScreen.vcxproj.filters
/source/embedded/blankscreen/BlankScreen.vcxproj.user
/source/embedded/blankscreen/Makefile
/source/embedded/blankscreen/Makefile.Debug
/source/embedded/blankscreen/Makefile.Release
/source/embedded/embedded.sln
/source/embedded/frontpanel/EmbeddedFrontPanel.vcxproj
/source/embedded/frontpanel/EmbeddedFrontPanel.vcxproj.filters
/source/embedded/frontpanel/EmbeddedFrontPanel.vcxproj.user
/source/embedded/frontpanel/Makefile
/source/embedded/frontpanel/Makefile.Debug
/source/embedded/frontpanel/Makefile.Release
/source/proxyplugins/plexonplugin/Makefile
/source/proxyplugins/plexonplugin/Makefile.Debug
/source/proxyplugins/plexonplugin/Makefile.Release
/source/proxyplugins/plexonplugin/ProxyPluginPlexon.vcxproj
/source/proxyplugins/plexonplugin/ProxyPluginPlexon.vcxproj.filters
/source/proxyplugins/plexonplugin/ProxyPluginPlexon.vcxproj.user
/source/proxyplugins/plexonplugin/translations/plexonplugin_ko.qm
/source/proxyplugins/tdtplugin/Makefile
/source/proxyplugins/tdtplugin/Makefile.Debug
/source/proxyplugins/tdtplugin/Makefile.Release
/source/proxyplugins/tdtplugin/ProxyPluginTDT.vcxproj
/source/proxyplugins/tdtplugin/ProxyPluginTDT.vcxproj.filters
/source/proxyplugins/tdtplugin/ProxyPluginTDT.vcxproj.user
/source/proxyplugins/tdtplugin/translations/tdtplugin_ko.qm
/source/proxyplugins/virtualdeviceplugin/Makefile
/source/proxyplugins/virtualdeviceplugin/Makefile.Debug
/source/proxyplugins/virtualdeviceplugin/Makefile.Release
/source/proxyplugins/virtualdeviceplugin/ProxyPluginVirtualDevice.vcxproj
/source/proxyplugins/virtualdeviceplugin/ProxyPluginVirtualDevice.vcxproj.filters
/source/proxyplugins/virtualdeviceplugin/ProxyPluginVirtualDevice.vcxproj.user
/source/proxyplugins/virtualdeviceplugin/translations/virtualdeviceplugin_ko.qm
/source/proxyserver/Makefile
/source/proxyserver/Makefile.Debug
/source/proxyserver/Makefile.Release
/source/proxyserver/PictoProxyServer.vcxproj
/source/proxyserver/PictoProxyServer.vcxproj.filters
/source/proxyserver/PictoProxyServer.vcxproj.user
/source/proxyserver/translations/proxyserver_ko.qm
/source/server/Makefile
/source/server/Makefile.Debug
/source/server/Makefile.Release
/source/server/PictoServer.vcxproj
/source/server/PictoServer.vcxproj.filters
/source/server/PictoServer.vcxproj.user
/source/server/translations/server_ko.qm
/source/workstation/Makefile
/source/workstation/Makefile.Debug
/source/workstation/Makefile.Release
/source/workstation/PictoWorkstation.vcxproj
/source/workstation/PictoWorkstation.vcxproj.filters
/source/workstation/PictoWorkstation.vcxproj.user
/ipch/libpicto-9882537c/libpicto-232b3a5c.ipch
/ipch/pictoworkstation-945ce426/pictoworkstation-49c56f86.ipch
/ipch/pictoworkstation-945ce426/pictoworkstation_debug-3f30cd52.ipch
/ipch/pictodirector-ee32aa14/*.ipch
/ipch/pictoserver-9267a84a/*.ipch
/source/common/*.user
