/output
/intermediates
/Makefile
/ipch
/*.sln
/*.opensdf
/*.sdf
/*.suo
/*.pro.user
/DocBuildErr.txt
/source/manuals/CodeDoc/html/*.html
/source/common/Makefile*
/source/common/libPicto.vcxproj*
/source/common/*.pro.user
/source/common/translations/common_ko.qm
/source/config/Makefile*
/source/config/PictoConfig.vcxproj*
/source/common/*.pro.user
/source/director/Makefile*
/source/director/PictoDirector.vcxproj*
/source/director/*.pro.user
/source/documentation/developersguide/Makefile*
/source/documentation/developersguide/PictoDevelopersGuide.vcxproj*
/source/embedded/Makefile*
/source/embedded/*.sln
/source/embedded/blankscreen/BlankScreen.vcxproj*
/source/embedded/blankscreen/Makefile*
/source/embedded/frontpanel/EmbeddedFrontPanel.vcxproj*
/source/embedded/frontpanel/Makefile*
/source/proxyplugins/plexonplugin/Makefile*
/source/proxyplugins/plexonplugin/ProxyPluginPlexon.vcxproj*
/source/proxyplugins/plexonplugin/translations/plexonplugin_ko.qm
/source/proxyplugins/tdtplugin/Makefile*
/source/proxyplugins/tdtplugin/ProxyPluginTDT.vcxproj*
/source/proxyplugins/tdtplugin/translations/tdtplugin_ko.qm
/source/proxyplugins/virtualdeviceplugin/Makefile*
/source/proxyplugins/virtualdeviceplugin/ProxyPluginVirtualDevice.vcxproj*
/source/proxyplugins/virtualdeviceplugin/translations/virtualdeviceplugin_ko.qm
/source/proxyserver/Makefile*
/source/proxyserver/PictoProxyServer.vcxproj*
/source/proxyserver/*.pro.user
/source/proxyserver/translations/proxyserver_ko.qm
/source/server/Makefile*
/source/server/PictoServer.vcxproj*
/source/server/*.pro.user
/source/server/translations/server_ko.qm
/source/workstation/Makefile*
/source/workstation/PictoWorkstation.vcxproj*
/source/workstation/*.pro.user
/source/plexonwrapper/PlexonWrapper.vcxproj*
/source/plexonwrapper/Makefile*
/source/plexonwrapper/*.pro.user
